extends _layout.pug
block content
  .container
    h1 Static html builder
    p 
      | Using Webpack
    img(src=require('../images/logo.png'))
    h3 Components
      h6
        a(href="./__components") Bootstrap 3
      h6
        a(href="./__fontawesome") Fontawesome
    h3 Example
      h6
        a(href="./example") go to Example page